* {
    margin: 0;
    padding: 0;
}

body {
    background: #ff7c4c;
    box-shadow: inset 0 0 250px #f00;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ribbon {
    margin: 18% auto;
    width: 250px;
    position: relative;
}

.ribbon:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    top: 7px;
    right: -51px;
    border: 29px solid #c70000;
    border-right-color: transparent;
    border-left-color: #910000;
    transform: rotate(-10deg);
}

.ribbon:after {
    content: "";
    z-index: -10;
    width: 20px;
    bottom: 35px;
    left: -50px;
    border: 29px solid #c70000;
    border-left-color: transparent;
    border-right-color: #910000;
    transform: rotate(-10deg);
    position: absolute;
    display: block;
}

.ribbon span:after {
    content: "";
    width: 250px;
    height: 60px;
    display: block;
    background: #c70000;
    border: 0;
    box-shadow: 0 0 0 red;
    position: relative;
    z-index: -10;
    top: -30px;
}

.ribbon span:before {
    width: 225px;
    height: 60px;
    top: 51px;
    left: 12px;
    content: "";
    background: #700;
    position: absolute;
    display: block;
    transform: skew(25deg) rotate(25deg);
    margin-bottom: 40px;
    z-index: -20;
}

.ribbon span {
    display: block;
    font-weight: 900;
    font-family: verdana;
    line-height: 0;
    font-size: 30px;
    color: #720000;
    padding-top: 30px;
    text-align: center;
    width: 250px;
    transform: skew(-10deg) rotate(-10deg);
    margin-bottom: 10px;
    z-index: 30;
}

.ribbon span:last-child:before {
    display: none;
}